<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>404</title>
		<link rel="stylesheet" href="/css/404.css" type="text/css" media="screen" title="no title" charset="utf-8">
	</head>
	<body>
		<div id="container">
			<p id="paragraph1">
				那个，你要找的那个页面啊。我再找找，啊不，你再找找，八成是输错网址了。如果还是输不对，到活动控制台找我吧。（你不会真的还输错吧。＝＝
			</p>
			<p id="paragraph2">
				又或者，去我们主页看看。
				<a href="/" target="_self">传送门</a>
			</p>
		</div>
	</body>
</html>

