<!DOCTYPE html>
<html>
<head>
	<title>关于我们</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<style type="text/css" media="screen">
		body {
			color: white;
			background: #2c3e50
		}
		a {
			color: black;
		}
		p {
			margin: 0;
			padding: 10px;
		}
		@media screen {
			#container {
				background: #34495e;
				margin-left: auto;
				margin-right: auto;
				width: 500px;
			}
		}
		@media only screen and (max-device-width:240px), (max-device-width:360px), (max-device-width: 480px) {
			#container {
				background: #34495e;
				width: 100%
			}
		}
	</style>
</head>
<body>
	<header>
		
	</header>
	<h1 id="swall" align="center">SWALL</h1>
	<div id="container">
		<div id="what">
			<h2 align="center">什么是SWALL？</h2>
			<p>SWALL是由同济大学软件学院的施闻轩，谢志杰共同开发的一款弹幕墙工具，适合在各类庆祝活动中使用。<br/></p>
			<p>用户可以使用他们的手机或者笔记本，通过一个提交页面发送弹幕，他们发送的弹幕会立即出现在活动页面上。
			活动的组织者可以使用投影仪或者他们的设备在现场展现他们的活动页面，并实时的展现用户的评论（以弹幕形式）。</p>
			<p>弹幕墙被分为两个部分，Server-side还有Client-side。Server-side swall (<a href="https://swall.me" target="_blank">https://swall.me</a>)
			是一个公共的web服务，运行在我们的服务器上并提供一个供用户输入评论（弹幕）的界面。任何人都可以通过它创建属于他／她自己的活动界面。
			Client-side将运行在组织者的电脑上，用以负责实时沟通还有背景相关的控制工作。
			她为组织者提供了一个仪表盘来调整偏好设置，控制背景。同时提供了一个弹幕墙界面，用于投影在屏幕上。</p>
		</div>
		<div id="how">
			<h2 align="center">我也想使用SWALL，该怎么做？</h2>
			<p>联系人： 同济大学软件学院 谢志杰 施闻轩</p>
			<p>联系方式：发送邮件至shiehshiehzhijie@gmail.com<br/>
			1.邮件请注明弹幕墙使用申请。<br/>
			2.邮件内容说明活动名称，活动承办方，以及您的联系方式（手机）。
			</p>
			<p>Author: ShiehShieh, Breezewish<br/>
			GitHub: <a href="https://github.com/breeswish/swall-server" target="_blank">https://github.com/breeswish/swall-server</a><br/>
			repository: git@github.com:breeswish/swall-server.git</p>
		</div>
	</div>
	<footer>
		
	</footer>
</body>
</html>

