<!DOCTYPE html>
<html>
<head>
	<title>Social Wall</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" href="//fonts.lug.ustc.edu.cn/css?family=Open+Sans:400" type="text/css">
	<link rel="stylesheet" href="/css/about.css" type="text/css">
</head>
<body>
	<div id="container">
		<div id="what">
			<h2>什么是 Social Wall (swall)?</h2>
			<p>Social Wall 是一个连接线上线下的互动创新产品。用户可以使用他们的手机或者笔记本，访问 Social Wall 页面发表评论，这些评论会实时地以弹幕形式出现在活动展示页面上；活动的组织者则可以使用投影仪等设备在现场将活动展示页面显示给所有人看，实现用户与用户间、场内与场外间的实时互动。</p>
		</div>
		<hr>
		<div id="how">
			<h2>我也想使用 Social Wall，可以吗?</h2>
			<p>可以。Social Wall 现在处于内测阶段，如果您想将它用于自己的活动，请联系我们：</p>
			<blockquote>联系人：同济大学软件学院 谢志杰<br>手机：+86 152 2135 6551</blockquote>
		</div>
		<div id="footer">
			<p>Powered by <a href="http://nodejs.org" target="_blank">Nodejs</a>. <a href="https://github.com/breeswish/swall-server" target="_blank">Fork me on GitHub</a></p>
		</div>
	</div>
</body>
</html>