<!DOCTYPE html>
<html>
<head>
	<title>抓到你了^_^</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" href="//fonts.lug.ustc.edu.cn/css?family=Open+Sans:400" type="text/css">
	<link rel="stylesheet" href="/css/about.css" type="text/css">
</head>
<body>
	<div id="container">
		<div id="head">
			<p>不错哦，你hack成功了噢。ip：<%= ip %></p>
			<p>来前排见见学长吧，可能有奖励噢。</p>
		</div>
		<div id="footer">
			<p>Powered by <a href="http://nodejs.org" target="_blank">Nodejs</a>. <a href="https://github.com/breeswish/swall-server" target="_blank">Fork me on GitHub</a></p>
		</div>
	</div>
</body>
</html>

