<!DOCTYPE html>
<html>
<head>
	<title>SWALL活动注册界面</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" href="/css/signup.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<div id="container">
		<form id="signup-form" action="/signup" method="post">
			<input id="username" type="text" value="" name="username" id="" autocomplete="off"/>
			<input id="password" type="password" value="" name="password" id="" autocomplete="off"/>
			<button id="signup" class="submit button-with-float nonactive-button animate">sign up</button>
		</form>
	</div>
	<!-- <script src="//cdnjs.net/ajax/libs/jquery/2.1.1-rc2/jquery.min.js"></script> -->
	<script src="/js/jquery.js" charset="utf-8"></script>
	<script src="/js/signup.js" charset="utf-8"></script>
</body>
</html>

