<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>弹幕入口</title>
</head>
<body>
	<input class="inputMessage" placeholder="Type">
	<script src="/socket.io/socket.io.js"></script>
	<script src="/jquery-2.1.1.min.js"></script>
	<script src="/takeComment.js"></script>
</body>
</html>
