<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-width, minimum-scale=1.0, maximum-scale=0 user-scalable=yes"/>
	<title>弹幕入口</title>
	<link rel="stylesheet" href="/static/Flapper-master/css/flapper.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/takeComment.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<div id="banner">
		<div class="display">
			<input id="station" class="header dark">
		</div>
	</div>
	<div class="container">
		<div id="testbox">
			<form action="/1" method="post" accept-charset="utf-8">
				<input type="text" value="" name="msg" id=""/>
				<input type="submit" value="Submit" />
			</form>
		</div>
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/static/jquery-2.1.1.min.js"></script>
	<script src="/takeComment.js"></script>
	<script src="/static/transform-master/dist/jquery.transform-0.9.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/Flapper-master/jshashtable-2.1/jshashtable.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/jquery.numberformatter-1.2.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/Flapper-master/src/jquery.flapper.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>

