<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
  </head>
  <body>
    <h1>Test</h1>
    <button id='test1'>Test1</button>
    <button id='test2'>Test2</button>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/static/jquery-2.1.1.min.js"></script>
	<script src="/test.js"></script>
  </body>
</html>
