body {
    background-color: rgb(29, 30, 31);
    margin: 0px;
}

input {
    margin: 10px;
}

.container {
    background-color: rgb(14, 14, 15);
    padding: 50px;
    margin: 50px;
}

.flapper {
    display: inline-block;
}

#banner {
    background-image: url(/static/Flapper-master/img/brushed.png);
    padding: 20px;
    text-align: center;
}

#form {
    display: table;
    width: 100%;
}

#testbox {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

