body
    font-family: "Open Sans",arial,sans-serif;
    font-size: 20px

a
    font-weight: 900
    text-decoration: none

#container
    background-color: #ADD5F7
    margin-left: auto
    margin-right: auto
    vertical-align: center
    width: 500px

