body {
    color: #444;
    background: #F8F8F8;
    font-family: "Open Sans",arial,sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4 {
    color: #666;
    margin-bottom: 30px;
}
a {
    color: black;
}
p {
    margin: 20px 0;
    line-height: 180%;
}
hr {
    border: 0;
    border-bottom: 3px solid #EEE;
}
blockquote {
    margin: 10px 0;
    padding: 10px;
    border-left: 10px solid #EEE;
    line-height: 180%;
}
#footer {
    color: #CCC;
    font-size: 0.9em;
}
#footer a, #footer a:visited, #footer a:active {
    color: #CCC;
    text-decoration: none;
}
#footer a:hover {
    color: #0068b7;
    text-decoration: underline;
}
#container {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
@media (max-device-width: 480px) {
    #container {
        width: auto;
    }
}
