html
    height: 100%
    overflow: hidden

body, input
    font-family: "Open Sans", arial, sans-serif

h1
    color: white
    padding: 0 10px

body
    background-color: rgb(29, 30, 31)
    height: 100%
    margin: 0px

input
    display: block
    font-size: 100%
    margin: 0
    padding: 0
    vertical-align: middle
    border: 0

.container
    background-color: rgb(14, 14, 15)
    height: 40%
    width: 100%
    margin: 10px 0
    padding: 10px 0

.flapper
    display: inline-block

.fogstart
    background-color: rgb(222, 222, 222)
    opacity: 1
    position: relative
    transition: all 0.2s ease-in-out

.fogend
    background-color: rgb(222, 222, 222)
    transform: scale(5)
    opacity: 0

.button-without-float
    margin-bottom: 10px
    width: 100%

.button-with-float
    float: left
    margin-bottom: 20px
    height: 100%

.msg
    background: transparent
    border: 1px solid #88a
    box-sizing: border-box
    color: white
    font-size: 1.5em
    height: 40%
    padding: 0 20px
    width: 100%

.msg-fixed-height
    background: transparent
    border: 1px solid #88a
    box-sizing: border-box
    color: white
    font-size: 1.5em
    height: 40px
    padding: 0 20px
    width: 100%
    z-index: 100

.msg:focus
    border: 1px solid #FFDF00
    box-shadow: 0 0 10px #FFDF00
    outline:none

.moveit
    opacity:1
    color: white
    transition:opacity 0.6s, transform 0.6s
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06)
    transition-duration: 0.3s
    transform-origin: 100%
    z-index: 100

.moveit-end
    transform:rotate(90deg)
    opacity:0

.paddiv-with-float
    float: left
    height: 100%
    width: 1.25%

.paddiv-without-float
    height: 5%
    width: 100%

#banner
    background-image: url(/static/Flapper-master/img/brushed.png)
    padding: 20px
    text-align: center

#buttonbox
    height: 40%
    width: 100%

#textbox
    display: block
    height: 100%
    margin-left: auto
    margin-right: auto
    width: 80%

.nonactive-button
	display: block
	position: relative
	border: 0
	font-size: 25px
	color: #000000
	text-decoration: none

.action-button
	display: block
	position: relative
	border: 0
	font-size: 25px
	color: #000000
	text-decoration: none

.action-button:focus
	outline:0

.blue
	background-color: #3498DB
	border-bottom: 5px solid #2980B9

.action-button:active
	border-bottom: 0px solid #2980B9 !important
	border-top: 5px solid rgb(14,14,15) !important

